			* {
     		   -webkit-touch-callout: none;
     		   -webkit-tap-highlight-color: rgba(0,0,0,0);
				-webkit-text-size-adjust: none;

   			 }

			.page {
				margin:0px;
				padding:0px;
				position:relative;
				border:1px solid black;
				-webkit-perspective: 100;
			}
			.covertext .title {
				margin:0px;
				padding:0px;
				text-align:right;
				color:#ffffff;
				text-shadow: 0px 0px 10px black;
			}
			.covertext .author {
				margin:0px;
				padding:0px;
				text-align:right;
				color:#ffffff;
				text-shadow: 0px 0px 10px black;
			}
			.disclaimertext {
				text-align:center;
				color:#ffffff;
				text-shadow: 0px 0px 10px black;			
			}
			
			.disclaimertext A {
				color:#ffffff;
			}
			
			.sidebar A {
				color:#42465e;
			}

			.pagetitle {
				text-align:center;
			}
			.pagefooter {
				text-align:right;
			}
			.imagebox {
				overflow:hidden;
			}
			.imagebox .favicon {
				position:absolute;
				left:5px;
				top:5px;
			}
			.imagebox .avaicon {
				position:absolute;
				left:30px;
				top:5px;
			}
			.imagebox .avalabel {
				position:absolute;
				left:60px;
				top:5px;
			}
			.imagebox .title {
				padding:5px 0px 0px 0px;
				margin:0px;
				font-style:italic;
			}
			
			
			.articlebox {
				overflow:hidden;
			}
			.articlebox .maintext {
				padding:0px;
				margin:15px 0px 0px 0px;
				text-align:justify;
			}
			.articlebox .icon {
				margin-right:5px;
			}
			.articlebox .avatar {
				margin-right:5px;
			}
			.articlebox .title {
				font-weight:bold;
				padding:0px;
				margin-top:0px;
				margin:0px 0px 0px 0px;
				text-align:justify;
			}
			.articlebox .smalltitle {
				padding:0px;
				margin:10px 0px 10px 0px;
			}
			
			.chatbox {
				overflow:hidden;
				text-align:center;
			}
			.chatbox .username {
				font-weight:bold;
			}
			.chatbox .icon {
				margin-right:5px;
			}